Non-Compliant features should be optional (and disabled)

In json_object.c:1022, you describe how NaN and Infinity are not part of the JSON standard. In fact, is is explicitly mentioned in the standard and must not appear in compliant JSON strings [RFC8259 Section 6](https://www.rfc-editor.org/rfc/rfc8259#section-6). 

> Numeric values that cannot be represented in the grammar below (such
   as Infinity and NaN) are not permitted.

We use this library for a REST API, but both Firefox and Google Chrome do not work with these literals. Being able to read NaN and Infinity is a great feature, but serializing should be optional, for example with a macro. 

Since this library tries to be RFC8259 compliant,
> It aims to conform to [RFC 8259](https://www.rfc-editor.org/rfc/rfc8259).
serializing non compliant literals should be disabled by default. As a substitute, it should be null.

**Version and Platform**
- json-c version: json-c-0.12 - master
- OS: Windows, Sciopta


Emitting `NaN` or `Infinity`, already is optional.  If you don't want those in the serialized output, then don't create a json_object_double with those values.

If instead you want to prevent those from being allowed when parsing, well I could see adding a json_tokener flag to reject input containing those values.  e.g. `JSON_TOKENER_STRICT_RFC` or similar. (PRs welcome)

However, that would be too breaking of a change, so I don't see us making it the default.