Add support for property pairs directly added to arrays

I can do this:
```javascript
    "attributes": [
        {
            "from": "romeo@example.net"
        },
        {
            "to": "juliet@example.com"
        },
        {
            "type": "probe"
        },
```

Or:
```javascript
    "attributes": [
        "romeo@example.net",
        "juliet@example.com",
        "probe"
    ],
```

But I don't think this is possibe:
```javascript
    "attributes": [
        "from": "romeo@example.net",
        "to": "juliet@example.com",
        "type": "probe"
    ],
```

If it is possible please add an example/unit test for it.  I found two examples of json_object_new_array in tests/test1.c, but I don't think either of them support this usage.


If I read RFC 7159, section 5 correctly, the "impossible" case you posted is indeed forbidden:

https://tools.ietf.org/html/rfc7159#section-5

Yes, you are quite right.  Objects can have property pairs, but arrays cannot.  Hence an array has to be an array of strings or objects.  Feel free to close this issue.